*{
    margin: 0px;
    padding: 0px;
    outline: 1px dotted purple;
}
.ct{
    margin: auto auto;
    padding: 1.25rem;
    background-color: rgba(158, 218, 225, 1);
}
.box{
    min-width: 400px;
    max-width: 400px;
    min-height: 275px;
    max-height: 275px;
    background-size:cover;
    background-position: center;
    display: inline-block;
    margin: 1rem;
}
