*{
    margin: 0px;
    padding: 0px;
}
.ct{
    margin: auto auto;
    padding: 1.25rem;
    background-color: rgba(158, 218, 225, 1);
    outline: 1px solid black;
}
form input{
    margin: .25rem 1.25rem .25rem 1.25rem;
}
