<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/cars.css">
        <title>Cars</title>
    </head>
    <body>
        <div class="ct">
            <div class="box" style="background-image:url('/images/red.jpg')"></div>
            <div class="box" style="background-image:url('/images/orange.JPG')"></div>
            <div class="box" style="background-image:url('/images/yellow.jpg')"></div>
            <div class="box" style="background-image:url('/images/green.png')"></div>
            <div class="box" style="background-image:url('/images/blue.jpg')"></div>
            <div class="box" style="background-image:url('/images/purple.jpg')"></div>
        </div>
    </body>
</html>
